openapi: 3.0.0
info:
  title: NocoDB Data Attachments API
  version: '2.0'
  description: RESTful API for querying and manipulating records across tables and views in any NocoDB base. Supports full CRUD operations on rows, filtering via where-clause operators, pagination, sorting, field selection, and bulk operations. Available in v2 and v3; v3 adds quoted-value support for special characters in query parameters.
  contact:
    name: NocoDB
    url: https://nocodb.com
  license:
    name: GNU Affero General Public License v3.0
    url: https://github.com/nocodb/nocodb/blob/develop/LICENSE
servers:
- url: https://app.nocodb.com
  description: NocoDB Cloud
security:
- xcToken: []
- bearerAuth: []
tags:
- name: Attachments
  description: File attachment operations
paths:
  /api/v2/tables/{tableId}/attachments:
    post:
      summary: Upload attachment
      operationId: table-attachment-upload
      description: Upload an attachment file to a NocoDB table.
      tags:
      - Attachments
      parameters:
      - $ref: '#/components/parameters/tableId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
        '400':
          $ref: '#/components/responses/BadRequest'
      security:
      - xcToken: []
      - bearerAuth: []
components:
  schemas:
    Attachment:
      title: Attachment
      type: object
      properties:
        mimetype:
          type: string
        size:
          type: integer
        title:
          type: string
        url:
          type: string
        icon:
          type: string
  parameters:
    tableId:
      name: tableId
      in: path
      required: true
      schema:
        type: string
      description: Unique identifier of the NocoDB table
  responses:
    BadRequest:
      description: BadRequest
      content:
        application/json:
          schema:
            type: object
            properties:
              msg:
                type: string
                example: 'BadRequest [Error]: <ERROR MESSAGE>'
            required:
            - msg
  securitySchemes:
    xcToken:
      type: apiKey
      in: header
      name: xc-token
      description: NocoDB API token
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer token authentication. Use ''Authorization: Bearer <token>'' header format.'
externalDocs:
  description: NocoDB Developer Resources
  url: https://nocodb.com/docs/product-docs/developer-resources/rest-apis
